






#login_page{
    
    justify-content: space-evenly;

}



#wrap{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    color:black;
   
}
#login_section{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
#sign_section{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


.input_login{
    margin: 5% auto;
    background-color: white;
    width: 400px;
    height: 80px;
    border-radius: 50px;
    
    line-height: 100px;
    font-size: 200%;
    border-style: none;
    text-align: center;
    animation: fadeIn 1s;
    transition: all 0.5s;
}
.input_sign{
    margin: 5% auto;
    background-color: white;
    width: 400px;
    height: 60px;
    border-radius: 50px;
    transition: all 0.5s;
    line-height: 100px;
    font-size: 200%;
    border-style: none;
    text-align: center;
    animation: fadeIn 1s;
    
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        
    }
    
    100% {
        
        opacity: 1;
    }
}


#message{
    margin: 1% auto;
    width: 50%;
    height: 7%;
    
    background-color: white;
    border-radius: 20px;
    text-align: center;
    opacity: 0;
    font-size: 130%;
    line-height: 50px;
    font-weight: bold;
    color: red;

}
#message .vib{
    
    animation: vibration .1s infinite;
  }
  
  @keyframes vibration {
    from {
      transform: rotate(1deg);
    }
    to {
      transform: rotate(-1deg);
    }
  }
 #button_box{
    margin: 3% auto;
    display: flex;
    width: 50%;
 }
.btns{
    margin : 0 auto;
    border-radius:50px;
    width: 200px;
    height: 50px;
    background-color: white;
    
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    }
.btns i{
    margin-left: 12%;
    margin-right: 20%;
}
